/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/fixtures/vcr_cassettes/

# rspec failure tracking
.rspec_status

# Gem builds
*.gem

# IDE files
/.idea/

# Docker files
Dockerfile
run_tests.sh

meta