/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
**.gem
.DS_Store
.rspec_status
*.csv
.idea/

# RVM files
.ruby-version
.ruby-gemset

# Environment files
.env
.env.*

# Docker files
Dockerfile
run_tests.sh

meta